 <div class="login-container">
    <div>
      <div>
      <div>
        <div *ngIf="!forgotpassword">
          <form class="form-container">
            <div class="card" style="width: 35rem; height: 25rem; border: hidden;">
                <div class="card-body">
                  <h5>Iniciar Sesión</h5>
                  <div >
                    <input class="form-control" type="text" name="email" placeholder="email" style="width: 18rem;">
                  </div>
                  <div >
                    <input class="form-control" type="contraseña" name="contraseña" placeholder="password" autocomplete="new-password" style="width: 18rem;">
                  </div>
                  <div >
                    <input class="btn btn-success" type="submit">
                  </div>
                  <span class="forgot-password" (click)="btnForgotPassword()" >¿Olvidaste tu contraseña?   </span>
                  <span class="forgot-password" (click)="sendToRegister()"> ¿No tienes un usuario? Registrate aquí</span>
                </div>
              </div>
          </form>
        </div>
      </div>
      <div >
            <form class="form-container" *ngIf="forgotpassword">
              <div class="recover-card" style="width: 35rem; height: 25rem; border: hidden;" >
                <div class="card-body">
                  <div>
                    <h2>Recuperar contraseña</h2>
                  </div>
                    <div>
                      <small>Por favor, ingresa tu correo electronico para enviarte un link de recuperación
                      </small>
                    </div>
                    <div>
                      <input class="form-control" type="text" name="email" placeholder="email">
                    </div>
                    <div>
                      <input class="btn btn-success" type="submit">
                    </div>
                </div>
              </div>
            </form>
          </div>
        </div>
          </div>